body{
    font-family: 'Lato', sans-serif , 'Raleway' ;}

.pageTitle{
    font-family: Lato;
    font-size: 37px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.08em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #253340;
    width:310px;
    height: 80px;}

.navbar-header{
    display: flex;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    border-color: #ffffff;
}


.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

}

.reporting{
    font-size: 16px;
    line-height: 1.2;
    color:#ffffff;
    width: 200px;

}


.visitorsButton{
    width: 100px;
    height: 30px;
    border: 1px solid #666666;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainPartPageHeader{

    background-color: #4a868c;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    color: white;
    font-weight: 400;
    height: 80px;
    max-width: 1050px;
}


@media(max-width:1050px){
    .mainPartPageHeader{
        max-width:970px;
    }
}
@media(max-width:992px){
    .mainPartPageHeader{
        max-width:750px;
    }
}
@media(max-width:767px){
    .mainPartPageHeader{
        max-width:none;
    }
}




.asv{
    display: flex;
    width: 100px;
}

.header_points{
    display: flex;

    justify-content: space-between;
    width: 350px;

}
.header{
    display: flex;
    align-items: center;


}

   a:hover{
       color:#ffffff;}
   a:link{
       color:#ffffff;}
   a:visited{
       color:#ffffff;}

.burger_menu{
    color:#ffffff;
    height:1060px;
    width: 310px;
    background-color: #253340;
    font-family: Lato;
   }

.photo{
    z-index: 100;
      height: 145px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(#4b868c, #756c91);
  }
.nav_point{
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    transition: .3s linear;

}

.nav_point h5{
    margin: 0 50px 0 20px;
    font-size: 18px;
    font-weight: 400;
    color: #ededec;

}
.mainDiv{
display: flex;
    flex-direction: row;
    color:red;
    justify-content: space-around;
    margin-left: 15px;
    margin-top: 40px;

}

.firstButton {
    width: 229px;
    height: 175px;
    background-color: #ffffff;

    box-shadow: 0px 2px 2px 0px rgba(4,4,4,0.09);
    margin-bottom:auto;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

}

.button1{
    border: 1px solid rgba(70,193,250,0.49);
    box-shadow: 0px 2px 2px 0px rgba(4,4,4,0.09);
}
.button2{
    border: 1px solid rgba(234,110,245,0.49);
    box-shadow: 0px 0px 5px 0px rgba(12,6,14,0.1);
}
.button3{
    border: 1px solid rgba(144,215,81,0.49);
    box-shadow: 0px 0px 5px 0px rgba(12,6,14,0.1);
}
.button4{
    box-shadow: 0px 0px 5px 0px rgba(12,6,14,0.1);
    border: 1px solid rgba(241,97,146,0.49);
}

.nav_point_2{
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bottom_arrow{
    margin-left: 40px;
}

.nav_point h3{
    margin: 0 50px 0 20px;
    font-size: 18px;
    font-weight: 400;
    color: #ededec;

}

.nav_point:hover{
    border-left: 8px solid #46c1fa;
    background-color: #486e91;
    box-sizing: border-box;
}

.nav_img{
    height: 30px;
    width: 35px;
    margin-left: 40px;
}

.photo_text{
    margin-left: 20px;
}

.photo_text h3{
    font-weight: 700;
    font-size: 20px;
    color: #eaebec;
    margin: 0;
}

.photo_text h4{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin: 0;
}

.color_menu{
    color:#ffffff;}

.dropbtn {
    background-color: #ffffff;
    color: black;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    width: 120px;
    font-weight: 400;
    color: #444444;
    margin:15px;
    font-family: 'Font Awesome';
}


.dropbtn:hover, .dropbtn:focus {
    border:2px solid #ba567c;
}

.dropdown {
    position:relative;
    display: inline-block;
    margin-left: 500px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd}


.show {
    display:block;}

.element{
    position:relative;



}
.table {
color:black;
}
.list{

    top:800px;
    left:0;
}
.element_li{
    display:none;

}
.element_li.active{
    display: block;
}
.element_li li{
    background-color: #253340;
    height:80px;
    width: 310px;

}




.flot-container {
    box-sizing: border-box;
    width: 850px;
    height: 450px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.flot-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}


















.toggle-button {
    position: fixed;
    top:30px;
    left:260px;
    width: 44px;
    height: 40px;
    padding: 4px;
    transition: .25s;
    z-index: 15;
}
.toggle-button:hover {
    cursor: pointer;
}
.toggle-button .menu-bar {
    position: absolute;
    border-radius: 2px;
    width: 80%;
    transition: .5s;
}
.toggle-button .menu-bar-top {
    border: 4px solid #555;
    border-bottom: none;
    top: 0;
}
.toggle-button .menu-bar-middle {
    height: 4px;
    background-color: #555;
    margin-top: 7px;
    margin-bottom: 7px;
    top: 4px;
}
.toggle-button .menu-bar-bottom {
    border: 4px solid #555;
    border-top: none;
    top: 22px;
}
.button-open .menu-bar-top {
    transform: rotate(45deg) translate(8px, 8px);
    transition: .5s;
}
.button-open .menu-bar-middle {
    transform: translate(230px);
    transition: .1s ease-in;
    opacity: 0;
}
.button-open .menu-bar-bottom {
    transform: rotate(-45deg) translate(8px, -7px);
    transition: .5s;
}

.menu-wrap {

    position: fixed;
    top: 80px;
    height: 100%;
    width: 310px;
    margin-left: -310px;
    font-size: 1em;
    font-weight: 700;
    overflow: auto;
    transition: .25s;
    z-index: 10;
    background-color: #253340;
}

.menu-show {
    margin-left:0;
    box-shadow: 4px 2px 15px 1px #B9ADAD;
}


.menu-sidebar li > a::after {
    content: "";
    display: block;
    height: 0.15em;
    position: absolute;
    top: 100%;
    width: 102%;
    left: 50%;
    transform: translate(-50%);
    background-image: linear-gradient(to right, transparent 50.3%, #FFFA3B 50.3%);
    transition: background-position .2s .1s ease-out;
    background-size: 200% auto;
}
.menu-sidebar li > a:hover::after {
    background-position: -100% 0;
}


.menu-sidebar li > a::after {
    background-image: linear-gradient(to right, transparent 50.3%, #FFFA3B 50.3%);
}


.menu-wrap ul{
    list-style-type: none;

}
.photo{
    margin-left: 0;
}










.flot {
    left: 0px;
    top: 0px;
    width: 610px;
    height: 250px;
}
#flotTip {
    padding: 3px 5px;
    background-color: #000;
    z-index: 100;
    color: #fff;
    opacity: .80;
    filter: alpha(opacity=85);
}
.pieLabel div {
    color: white !important;
    text-shadow: 0 0 4px #000;
}


#container {
    height: 300px;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}



.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
